@media (min-width: 768px){
    .box {
        height: 90%;
    }
}

.box {

    padding: 5px;
    background-color: white;
    /* margin-top: 5%; */
}

.box-md-top{
    height: 25%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-md-bottom{
    height: 70%;
    width: 100%;
    background-color: white;
}

.box-sm{
    width: 96%;
    min-height: 2.5rem;
    padding: 2.5%;
    margin: 3px auto;
}

